<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cooper's Chair Lift</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="static/css/grayscale.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button style='color:aliceblue' type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a style='color:aliceblue' class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span style='color:aliceblue' class="light">Top Of Page </span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a style='color:aliceblue' class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a style='color:aliceblue' class="page-scroll" href="#download">Get Recommendations</a>
                    </li>
                    <li>
                        <a style='color:aliceblue' class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-16 col-md-offset-0">
                        <hr style='opacity:0'>
                        <hr style='opacity:0'>
                        <h1 style='color:aliceblue' class="brand-heading">Cooper's</h1>
                        <hr style='opacity:0'>
                        <h1 style='color:aliceblue' class="brand-heading">Chair Lifts</h1>
                        <hr style='opacity:0'>
                        <hr style='opacity:0'>
                        <hr style='opacity:0'>
                        <!-- <p style='font-size: 500%; color:steelblue' class="intro-text">Ski Resort Recommender</p> -->
                            <!-- <br>Created by Start Bootstrap.</p> -->
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 style='font-size:400%; color:deepskyblue'> About Cooper's Chair Lift</h2>
                <hr style='opacity:0'>
                <hr style='opacity:0'>
                <p>Cooper's chair lifts is a ski resort recommender, which aggregates reviews from
                <a style='color:deepskyblue' href="http://onthesnow.com">onthesnow.com</a> to make user-specific recommendations.  This was simply a project that I put together to practice my skills in the recommendation space.</p>
                <hr style='opacity:0'>
                <hr style='opacity:0'>
                <p> Onthesnow.com is an online ski community and ski resort information provider, where users can find resorts, post reviews, and get information about the quality of the snow.</p>
                <hr style='opacity:0'>
                <hr style='opacity:0'>
                <p>The recommendation engine is built using python and the <a style='color:deepskyblue' href="https://turi.com/products/create/">graphlab</a> package.  This website is built using Flask and is hosted on an Amazon Web Services server.</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-10 col-lg-offset-1">
                    <hr style='opacity:0'>
                    <hr style='opacity:0'>
                    <hr style='opacity:0'>
                    <hr style='opacity:0'>
                    <hr style='opacity:0'>
                    <hr style='opacity:0'>
                    <h2 style='font-size:400%; color:deepskyblue'>Get Recommendations</h2>
                    <p>Find your next ski vacation using Cooper's Chair Lift Recommender.</p>
                    <!-- <a href="/recommender" class="btn btn-default btn-lg">Recommender</a> -->
                    <div class="col-lg-10 col-lg-offset-1">
                        <!-- <h2 class="section-heading">Login:</h2> -->
                        <form action="" class="form-inline" method="post">
                            <input style='width:200px; height:40px' type="text" class="form-control" placeholder="OnTheSnow UserID" name="user_id" value="{{request.form.user_id}}">
                            <input class="btn btn-default" type="submit" value="Recommend">
                        </form>
                        {% block showoutput_user %}
                        {% endblock %}
                    </div>
                    <hr style='opacity:0'>
                    <hr style='opacity:0'>
                    <hr style='opacity:0'>
                    <hr style='opacity:0'>
                    <p>Don't have an OnTheSnow.com username?  Type and select your favorite resorts below.</p>
                    <div class="col-lg-10 col-lg-offset-1">
                        <!-- <h2 class="section-heading">Login:</h2> -->
                        <form action="" class="form-inline" method="post">
                            <input style='width:200px; height:40px' list='resort-name' name='resort-name' placeholder="Favorite Resorts" class="form-control" type='text' value="{{request.form.resort_name_entry}}">
                            <datalist id='resort-name'>
                              {% for hike in resort_name_list %}
                              <option value="{{hike}}">{{hike}}</option>
                              {% endfor %}
                            </datalist>
                            <input class="btn btn-default" type="submit" value="Recommend">
                        </form>
                        {% block showoutput_new %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 style='font-size:400%; color:deepskyblue'>Contact Cooper</h2>
                <hr style='opacity:0'>
                <hr style='opacity:0'>
                <p>Please reach out if you have questions or comments. Want to start a partnership? Even better, I'm always looking for the next challenge.</p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="mailto:cooperstainbrook@yahoo.com" class="btn btn-default btn-lg"><i class="fa fa-envelope-o fa-fw"></i> <span class="network-name">Email</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/cstainbrook" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/cstainbrook/" class="btn btn-default btn-lg"><i class="fa fa-linkedin-square fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <!-- <div id="map"></div> -->

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; CoopCorp 2016</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/grayscale.min.js"></script>

</body>

</html>
