{% extends 'index.html' %}

{% block showoutput_new %}

<div>
    <hr style='opacity:0'>
    <hr style='opacity:0'>
    <hr style='opacity:0'>
    <h1> Your Recommended Ski Areas Are: </h1>
    <p>{{recommendations[0]}}</p>
    <p>{{recommendations[1]}}</p>
    <p>{{recommendations[2]}}</p>
    <p>{{recommendations[3]}}</p>
    <p>{{recommendations[4]}}</p>
    <p>{{recommendations[5]}}</p>
    <p>{{recommendations[6]}}</p>
    <p>{{recommendations[7]}}</p>
    <p>{{recommendations[8]}}</p>
    <p>{{recommendations[9]}}</p>
    <p>{{recommendations[10]}}</p>
</div>

{% endblock %}
